html
{
    width: 100%;
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
body
{
    width: 100%;
    height: auto;
	min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
.container {
	display: flex;
	align-items: center;
	align-self: center;
	min-width: 30%;
}
.col {
	flex-direction:column;
}
.row {
	justify-content: space-around;
	display: flex;
	flex-direction:row;
	position: relative;
	height: 100%;
}
/*.m {
	margin-bottom: 0.5em;
	border-bottom: 4px solid transparent;
	transition: border-bottom 0.4s;
}
.m:hover {
	margin bottom: 1em;
	border-bottom: 4px solid #B6A97C;
}
/* BOOKMARKS */
.vk {
	background-color: #4c75a3;
}
.reddit {
	background-color: #ff5700;
}
.tumblr {
	background-color: #35465c;
}
.twitter {
  background-color: #00aced;
}
.facebook {
	background-color: #3b5998;
}
.soundcloud {
	background-color: #ff7700;
}
.discord {
	background-color: #7289da;
}
.telegram {
	background-color: #0088cc;
}
.dvach {
	background-color: #ff7000;
}
/* BOOKMARKS END */

/* LINK */
a {
	display: flex!important;
	font-family: 'Raleway';
	font-size: 2em;
	text-decoration:none;
	text-align: right;
	color: white;
	margin: 0em;
	width: 100%;
	align-self: flex-end;
	justify-content: center;
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0);
	transition: box-shadow 3s;
	user-select: none;
  margin-bottom: 0.5em;
}
a:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
img:hover {
	/*transform: scale(1.1);*/
}
img {
	transition: transform 1s;
	transition-delay: 0.3s;
	user-select: none;
	user-drag: none;
}
